<!-- add resource form component -->
<form class="add-resource-form" method="POST">
  <span class="form-title">Submit A New Resource</span>
  <div class="input-container">
    <input type="text" class="form-control" placeholder="URL">
  </div>
  <div class="input-container">
    <input type="text" class="form-control" placeholder="Title">
  </div>
  <div class="input-container">
    <textarea id="description" class="form-control" placeholder="Description"></textarea>
  </div>
  <div class="input-container">
    <!-- Topic select menu-->
    Select Topic:
    <select>
        <option value="1">Neuroscience</option>
        <option value="2">Graphic Design</option>
        <option value="3">Octopus</option>
        <option value="4">Creative code</option>
    </select>
  </div>
  <div class="btn-container">
    <button type="submit" class="btn-submit">SUBMIT</button>
  </div>
  <div class="form-footer">
    <p class="thank-you-text">Thank you for your contribution to Resource Wall!</p>
  </div>
</form>