<div class="card">
  <!-- Thumbnail picture-->
  <img src="..." class="rThumbnail" alt="...">
  <div class="rBody">
    <h5 class="rTitle">resource title</h5>
    <p class="rContent">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <!-- button click to external pages-->
    <!-- <a href="#" class="btn btn-dark">Go somewhere</a> -->
    <!-- Edit / Delete button -->
    <!-- Only login users can see the buttons-->
    <!-- <ul class="btn-container">
      <a href="#" class="btn btn-success">Edit</a>
      <a href="#" class="btn btn-danger">Delete</a>
    </ul> -->
  </div>
</div>
