<!-- include a if statement below to determine which page to display -->

<nav class="navbar navbar-expand-lg navbar-dark">
  <!-- Logo and web app name -->
  <a class="navbar-brand" href="/">
    <img src="/docs/4.2/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Resource Wall
  </a>

  <div class="collapse navbar-collapse">
    <!-- Search bar -->
    <!-- will chnage route to /search instead of /users -->
    <form class="form-inline" action="/users" method="POST">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>

    <!-- Login / Register-->
    <ul class="navbar-nav">
      <!-- if theer's no user cookie, show buttons as Login, Register -->
      <!-- else the buttons will show Logout, Settings -->

    </ul>
  </div>
</nav>
