<!-- include a if statement below to determine which page to display -->

<nav class="navbar navbar-expand-lg navbar-dark">
  <!-- Logo and web app name -->
  <a class="navbar-brand" href="/">
    <img src="/docs/4.2/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Resource Wall
  </a>

  <div class="collapse navbar-collapse">
    <!-- Search bar -->
    <!-- will chnage route to /search instead of /users -->
    <form class="form-inline" action="/users" method="POST">
      <input class="form-control" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <!-- add new resource button -->
    <a class="add-resource" href="/resources/new">
      <button class="btn btn-outline-info" >+resource</button>
    </a>


    <!-- Login / Register-->
    <ul class="navbar-nav">
      <!-- if theer's no user cookie, show buttons as Login, Register -->
      <!-- else the buttons will show Logout, Settings -->
      <% if (!user_id) { %>
      <li class="nav-item">
        <a class="nav-link" href="/login">
          <button class="btn btn-outline-secondary">Login</button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register">
          <button class="btn btn-outline-secondary">Register</button>
        </a>
      </li>
      <% } else  { %>
      <li class="nav-item">
        <a class="nav-link" href="/logout">
          <button class="btn btn-outline-secondary">Logout</button>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">
          <button class="btn btn-outline-secondary">Profile</button>
        </a>
      </li>
      <% } %>
    </ul>
  </div>
</nav>
