<!-- user settings form component -->

<!-- Once the form is being submitted, default behaviour will redirect users to /users route -->
<form class="user-setting" action="/users" method="POST">
  <span class="form-title">User Settings for -
    <%= user_id %> </span>

  <div class="input-container">
    <input id="changeHandle" type="text" name='newName' class="form-control" placeholder="Name">
  </div>

  <div class="btn-container">
    <button type="submit" class="btn-submit">Submit</button>
  </div>
  <div class="form-footer">
    <small id="disclaimer" class="form-text text-muted">We'll never share your account information with anyone else.</small>
  </div>
</form>
