<!-- user profile component -->
<div class="profile">
  <img src="https://vanillicon.com/d55cf8e18b47d4baaf60c006a0de39e1.png"">
  <h3 class="userHandle">User Handle</h3>
  <p class="occupation">Occupation</p>
  <p class="email">Email address</p>
  <a href="#"><i class="fa fa-dribbble"></i></a>
  <a href="#"><i class="fa fa-twitter"></i></a>
  <a href="#"><i class="fa fa-linkedin"></i></a>
  <a href="#"><i class="fa fa-facebook"></i></a>
  <div class="profile-footer">
    <span>Want to change your profile?</span>
    <!-- redirect to settings page -->
    <!-- temporary routing-->
    <small>
      <a href="/settings" class="to-settings">Go to settings</a>
    </small>
  </div>
</div>
