<!DOCTYPE html>
<html lang="en">
  <% include partials/_file-connect.ejs %>
  <body>
    <!-- navbar -->
     <% include partials/_navbar.ejs %>
    <!-- -->
    <section class="container">
      <section class="tagline-container">
        <h1 class="mainTagLine">Learning starts here</h1>
        <p class="subTagLine">Discover ideas from all over the web, and get personalized recommendations based on the topics you love. Get a taste below!</p>
      </section>

    </section>
    <!-- content -->
    <section id="resourceContainer" class="container">
      <section class="topicSection">
        <h3 class="topic">Neuroscience</h3>
        <article id="neuroRow" class="row align-items-center"></article>
      </section>
      <section class="topicSection">
        <h3 class="topic">Graphic Design</h3>
        <article id="graphicRow" class="row align-items-center"></article>
      </section>
      <section class="topicSection">
        <h3 class="topic">Octopus</h3>
        <article id="octopusRow" class="row align-items-center"></article>
      </section>
      <section class="topicSection">
        <h3 class="topic">Creative Code</h3>
        <article id="creativeRow" class="row align-items-center"></article>
      </section>
    </section>
  </body>
</html>




