<!DOCTYPE html>
<html lang="en">
<% include partials/_file-connect.ejs %>
<body>
    <!-- navbar -->
    <% include partials/_navbar.ejs %>

    <section class="container">
       <!-- login form -->
      <section class="form-container">
        <% include partials/_login-form.ejs %>
      </section>
    </section>
  </body>
</html>
