<!-- ****************************************************************** -->
<!-- *This page is an exact copy of login.ejs, code below might change* -->
<!-- ****************************************************************** -->

<!DOCTYPE html>
<html lang="en">
  <% include partials/_file-connect.ejs %>
  <body>
    <!-- navbar -->
    <% include partials/_navbar.ejs %>

    <section class="container">
      <!-- registration form -->
      <section class="form-container">
        <% include partials/_register-form.ejs %>
      </section>
    </section>
  </body>
</html>
