<div class="card">
  <!-- Thumbnail picture-->
  <img src="..." class="rThumbnail" alt="...">
  <div class="rBody">
    <h5 class="rTitle">resource title</h5>
    <p class="rContent">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <!-- button click to external pages-->
    <a href="#" class="btn btn-dark">Go somewhere</a>
  </div>
</div>
