<!DOCTYPE html>
<html lang="en">

<% include partials/_file-connect.ejs %>

<body>
  <!-- navbar -->
  <% include partials/_navbar.ejs %>
  <!-- content -->
  <section class="container">
    <!-- Shows user setting form -->
    <section class="form-container">
      <% include partials/_user-setting-form.ejs%>
    </section>
  </section>
</body>

</html>
