<!DOCTYPE html>
<html lang="en">
<% include partials/_file-connect.ejs%>
<body>
  <!-- navbar -->
  <% include partials/_navbar.ejs %>

  <!-- content -->
  <section class="row">
    <section class="column left">
      <!-- Shows user profile-->
      <section class="container">
        <% include partials/_user-profile.ejs %>
      </section>
    </section>

      <section class="column right">
        <section class="container">
          <h2>My Resources</h2>
          <!-- Shows topic resources (temporary) -->
          <% for(let row = 0; row < 2; row++) {%>
          <section class="topicSection">
            <h3 class="topic">Topic
              <%= row + 1 %>
            </h3>
            <article class="row align-items-center">
              <% for(let col = 0; col < 2; col++) {%>
              <% include partials/_my-resources.ejs %>
              <% } %>
            </article>
          </section>
          <% } %>

          <h2>Liked Resources</h2>
          <!-- Shows topic resources (temporary) -->
          <% for(let row = 0; row < 2; row++) {%>
          <section class="topicSection">
            <h3 class="topic">Topic
              <%= row + 1 %>
            </h3>
            <article class="row align-items-center">
              <% for(let col = 0; col < 2; col++) {%>
              <% include partials/_my-resources.ejs %>
              <% } %>
            </article>
          </section>
          <% } %>
        </section>
      </section>
    </section>
  </section>

</body>

</html>
