body {
  background-color: #EEE;

  h1 {
    color: #244751;
  }

  .mainTagLine {
    font-size: 64px;
  }

  .subTagLine {
    font-size: 21px;
  }

  .card {
    width: 18rem;
    margin-left: 15px;
    margin-right: 20px;
  }
}

