body {

  .container {
    padding: 30px 30px 10px 30px;
    width: 100%;

    .tagline-container {
      /*background-color: #343a40;
      opacity: 0.4;
      color: #ffffff;*/

      .mainTagLine {
        font-size: 64px;
      }

      .subTagLine {
        font-size: 21px;
      }
    }
  }

 /* .resourceContainer {
  }*/
}







