/* navbar styling goes here */

/* navbar styling NOT FINISHED YET */
nav {
  background-color: #343a40;
  height: 5em;

  .form-inline {
    width: 100%;

    .form-control {
      margin-left: 20px;
      width: 80%;
    }

    .btn {
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  .add-resource {
    margin-right: 30px;
  }

  .navbar-nav li {
    display: inline-block;
  }

  .navbar-brand {
    margin-right: 3rem;
  }
}
