/* resource component styling goes here */

.card {
  position: relative;
  height: 350px;
  width: 20rem;
  margin: 15px 15px 15px 15px;

  img {
    height: 150px;
  }

  .rBody {
    padding:10px 10px 10px 10px;
  }

  .rTitle {
    height: 40px;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .rContent:nth-child(even){
    padding: 0;
    margin: 0;
    line-height: 1;
  }

  .rContent:nth-child(odd){
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    bottom: 0;
    height: 25px;
  }


}
