/* resource component styling goes here */

.card {
  display: inline-flex;
  position: relative;
  height: 32em;
  width: 20rem;
  margin: 15px;

  img {
    height: 60%;
    margin-bottom: 10px;
  }

  .rBody {
    padding: 10px;
  }

  .rTitle {
    display: inline-block;
    margin-bottom: 20px;
    font-weight: bold;
  }

  .rContent:nth-child(even) {
    padding: 0;
    margin: 0;
    line-height: 1;
  }

  .rContent:nth-child(odd) {
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    bottom: 0;
    height: 25px;
  }
}
