/* user setting page styling places here */

.user-setting {
  width: 500px;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 23px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  border-radius: 10px;
}
